@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fb-btn-primary {
      @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
       focus:ring-blue-300 font-medium rounded-lg text-sm
         px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
         dark:focus:ring-blue-800;
    }
    .fb-label {
      @apply mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }
    .fb-input {
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
             focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
             dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
              dark:focus:ring-blue-500 dark:focus:border-blue-500;
        
    }
    .fb-input-error {
        @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700
          text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500
          block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500; 
    }
    .fb-checkbox {
        @apply w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2
         focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600
          dark:focus:ring-blue-600 dark:ring-offset-gray-800;
    }

    .fb-link {
      @apply text-blue-600 underline dark:text-blue-400 hover:no-underline;
    }

    .fb-text-color {
      @apply text-gray-900 dark:text-gray-200;
    }

    /* this overrides the django errorlist class ol/li list of form errors */
    /* NO, it doesn't work, it's not applied */
    /* .errorlist {
        @apply text-red-500 text-sm font-medium !important;
    } */
  
}