<div id="stories" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">

    {% for story in page_obj %}

        <!-- NOPE - steals clicks make the whole div an active link to the story (tho profile click overrides) -->

        <div class="a_story">
            <div 
                {% if story.published %}
                    class="max-w-xs bg-white border border-gray-200 rounded-lg shadow
                    dark:bg-gray-800 dark:border-gray-700"
                {% else %}
                    class="max-w-xs bg-white border border-red-600 rounded-lg shadow
                    dark:bg-gray-800 dark:border-red-600"
                {% endif %}
                >
                
                <a href="{% url 'stories:story_detail' story.id %}">
                    {% if story.image %}
                    <img class="rounded-t-lg" src="{{ story.image.url }}" alt="Image for {{ story.title }}">
                    {% endif %}
                </a>
                
                <div class="p-5">
                    <a href="{% url 'stories:story_detail' story.id %}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{story.title}}</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        {{ story.summary }}</p>
                        
                    <hr class="h-px my-4 bg-gray-600 border-0 dark:bg-gray-400">
                    
                    <div
                        htmx="get"
                        hx-trigger="click"
                        hx-get="{% url 'profiles:profile_detail' story.user.id %}"
                        hx-target="#view_profile_modal_content"
                        hx-swap="innerHTML"
                        class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">

                        {% if story.user.profile.profile_image %}
                            <img class="mr-4 w-12 h-12 rounded-full" src= "{{story.user.profile.profile_image.url}}" alt="{{ user }}">
                        {% else %}
                            <svg class="mr-4 w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" 
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.0" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                        {% endif %}
                        <div>
                            <a href="#" rel="author" class="text-lg font-medium text-gray-900 dark:text-white">
                                {{ story.user }}
                            </a>
                            {% if story.published %}
                            <p class="text-sm text-gray-500 dark:text-gray-400">
                                Published: <time pubdate datetime="" title="">{{ story.published_datetime|timesince }} ago</time>
                            </p>
                            <a href="{% url 'stories:edit_story' story.id %}">
                                <strong>Edit Story</strong></a></p> 
                            {% else %}
                            <p class="mb-3 font-normal text-red-600 dark:text-red-500">
                                Story is not yet published - 
                                <a href="{% url 'stories:edit_story' story.id %}">
                                    <strong>Edit Story</strong></a></p>     
                            {% endif %}                       
                        </div>
                    </div>
                </div>
            </div>
            <!-- magic infinite scroll, learned from https://www.photondesigner.com/articles/infinite-scroll-htmx-django -->
            {% if page_obj.has_next and forloop.last %}
                <div class="" hx-get="{% url 'stories:story_list' %}?page={{ page_obj.next_page_number }}"
                        hx-swap="beforeend" hx-target="#stories" hx-select=".a_story"
                        hx-trigger="revealed">
                </div>
            {% endif %}
        </div>


    {% endfor %}

</div>