<!-- stories/templates/stories/story_list.html -->

{% extends "_base.html" %}

{% load static %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class=" text-black dark:text-white {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2 class="text-2xl mb-3 text-black dark:text-white">Recent Stories</h2>
    
    <!-- this will expand to include all first page stories -->

    {% include "stories/story_list_all_stories.html" with page_obj=page_obj %}

    
    <!-- Modal html for profile modal popup Using flowbite's Modal classes and JS -->
    <div id="modalEl"
        tabindex="-1"
        aria-hidden="true"
        class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)]
        max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
    
      <div class="relative max-h-full w-full max-w-2xl">
        
        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
            
            <!-- Modal header -->
            <div 
                class="flex items-start justify-between rounded-t border-b p-2 dark:border-gray-600"
            >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white lg:text-2xl">
                    Profile
                </h3>
                
                <!-- Close modal button in upper right corner -->
                <button
                    type="button"
                    onclick=modal.hide()
                    class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                    <svg
                        class="h-3 w-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                    
                </button>
            </div>
            
            <!-- Modal body (under header) -->
            <div id="view_profile_modal_content">
                This gets replaced </div>
            
            <!-- Modal footer -->
            <div
                class="flex items-center justify-center space-x-2 rtl:space-x-reverse rounded-b border-t
                border-gray-200 p-2 dark:border-gray-600"
            >
                <!-- Close button -->
                <button
                    type="button"
                    onclick=modal.hide()
                    class="rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium
                    text-white hover:bg-blue-800 focus:outline-none focus:ring-4
                    focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Close
                </button>

            </div>
        </div>
    </div>

    <!-- model placeholder for popup menu in each story card 
        the contents get replaced by htmx call, specific to the actual card -->

    <div id="modal_popup_menu_content" class="hidden">
        This gets replaced by call to htmx get_story_menu
    </div>

</div>




{% endblock content %}

{% block scripts %}

<script>
    
    // handle profile modal popup with htmx
    // triggered by afterSwap event from htmx - decide what caused it and react accordingly
    document.addEventListener("htmx:afterSwap", function(event) {
        console.log('story list page after swap with target id = ', event.detail.target.id);

        // fucking magic - must re-init all flowbite after any HTMX changes!!!
        initFlowbite();
        
        if (event.detail.target.id === "view_profile_modal_content") {
            modal.show();
            console.log('ready to show modal');
        } 
    });

    // testing flowbite modal control with javascript

    // set the modal menu element
    const $targetEl = document.getElementById('modalEl');
    console.log("got targetEl = ", $targetEl);

    // options with default values
    const options = {
        placement: 'center-center',
        backdrop: 'dynamic',
        backdropClasses:
            'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
        closable: true,
    };

    // instance options object
    const instanceOptions = {
        id: 'modalEl',
        override: true
    };    

    /*
    * $targetEl: required
    * options: optional
    */
    const modal = new Modal($targetEl, options, instanceOptions);
    console.log("got modal = ", modal);

</script>

{% endblock scripts %}